@layer tailwind-base, reset, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

@font-face {
  font-family: 'Hind Madurai';
  src: url('./fonts/Hind_Madurai/HindMadurai-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Hind Madurai';
  src: url('./fonts/Hind_Madurai/HindMadurai-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Hind Madurai';
  src: url('./fonts/Hind_Madurai/HindMadurai-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Hind Madurai';
  src: url('./fonts/Hind_Madurai/HindMadurai-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Hind Madurai';
  src: url('./fonts/Hind_Madurai/HindMadurai-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Asap';
  src: url('./fonts/Asap/Asap-VariableFont.ttf');
}

@font-face {
  font-family: 'Hubballi';
  src: url('./fonts/Hubballi/Hubballi-Regular.ttf');
  font-weight: normal;
}

