@import './base.css';
@import './primevue.css';

#app {
  min-height: 100vh;
  max-width: 100%;
}

body {
  min-height: 100vh;
  color: #D0D9F6;
  background-image: linear-gradient(to bottom, #10273D, #09141F);
  font-family: 'Hind Madurai';
  font-size: 16px;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus, input:focus-visible {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance:  none;
  outline: none;
}

/*? Local classes */

/* Input shadow effects */
.local-inset-shadow {
  box-shadow: 2px 2px 2px rgba(0,0,0, 0.25) inset;
  transition: box-shadow 0.3s ease-in-out;
}

.local-inset-shadow:hover {
  box-shadow: 4px 4px 3px rgba(0,0,0, 0.25) inset;
}

.local-shadow {
  box-shadow: 2px 3px 1px rgba(0,0,0, 0.35);
  transition: box-shadow 0.3s ease-in-out;
}

.local-shadow:hover {
  box-shadow: 3px 5px 2px rgba(0,0,0, 0.35);
}

.local-link-borders > :not(:last-child) {
  border-bottom: 1px solid #D0D9F675;
}

.hide-scroll-bar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.last-center {
  text-align-last: center;
}
