/*? Prime vue component modifications */

.p-inputtext:enabled:focus {
  box-shadow: 5px 5px 3px rgba(0,0,0, 0.25) inset;
  outline: none;
}

.p-focus, .p-dropdown:enabled:focus {
  box-shadow: 3px 5px 2px rgba(0,0,0, 0.35);
  outline: none;
}

/* Placeholder color reset */
.p-inputtext::placeholder, .p-placeholder, .p-dropdown::placeholder, 
.p-component::placeholder {
  color: #737D9C;
  opacity: 1;
}

/* Link modifications */
.p-link {
  border: none;
  outline: none;
}

/* Accordion */
.p-accordion-content {
  background-color: #071524;
  border-radius: 1rem;
  margin: 0 1.5rem 0 1rem;
  padding: 1.25rem 1.5rem;
}

.p-accordion  .p-accordion-header-link {
  background-color: #0E2032;
}

.p-accordion .p-accordion-header .p-accordion-header-link{
  background-color: #0E2032;
}

.p-accordion-tab {
  border-bottom: none;
}

.p-togglebutton .p-togglebutton-input {
  border: none;
}

.p-togglebutton .p-button {
  background-color: #071524;
  border: none;
}

.p-togglebutton.p-highlight .p-button::before {
  background-color: #071524;
}

.p-togglebutton.p-highlight .p-button .p-button-icon-left, .p-togglebutton.p-highlight .p-button .p-button-icon-right {
  color: #2dd4bf;
}

.p-togglebutton.p-highlight .p-button {
  background-color: #2dd4bf;
  color: #2dd4bf;
}